<%= render :partial => 'users/user_bar' %>

<% if flash[:notice] %>
  <%= h flash[:notice] %>
<% end %>

<h1>Welcome To The Game</h1>

<% if logged_in? %>
<p>Hello, <%= @current_user.login %>!</p>
<% end %>
