<html>
<head>
	<title>The <!--tmpl_var name='area_name'--></title>
</head>
<body>
	<tmpl_unless name='combat'>
		<p>You've encountered a <!--tmpl_var name='monster'-->!</p>
		<form action='explore.cgi?area=<!--tmpl_var name='area'-->' method='post'>
			<input type='submit' name='action' value='Attack' /> or 
			<input type='submit' name='action' value='Run Away' />
			<input type='hidden' name='monster' value='<!--tmpl_var name='monster'-->' />
		</form>
	<tmpl_else>
		<ul>
		<tmpl_loop name='combat'>
			<li><strong><!--tmpl_var name='attacker'--></strong> attacks <!--tmpl_var name='defender'--> for <!--tmpl_var name='damage'--> damage!</li>
		</tmpl_loop>
		</ul>
		<tmpl_if name='won'>
			<p>You killed <strong><!--tmpl_var name='monster'--></strong>! You gained <strong><!--tmpl_var name='gold'--></strong> gold, and <strong><!--tmpl_var name='exp'--></strong> experience.</p>
			<tmpl_if name='level_up'>
    			<p><strong>You gained a level!</strong></p>
			</tmpl_if>
			<p>You found a <strong><!--tmpl_var name='item'--></strong>!</p>
			<p><a href='explore.cgi?area=<!--tmpl_var name='area'-->'>Explore Again</a></p>
		</tmpl_if>
		<tmpl_if name='lost'>
			<p>You were killed by <strong><!--tmpl_var name='monster'--></strong>.</p>
		</tmpl_if>
		<p><a href='index.cgi'>Back to main</a></p>
	</tmpl_unless>
</body>
</html>