<html>
<head>
	<title>The Healer</title>
</head>
<body>
	<p>Welcome to the healer. You currently have <strong><!--tmpl_var name='curhp'--></strong> HP out of a maximum of <strong><!--tmpl_var name='maxhp'--></strong>.</p>
	<p>You have <strong><!--tmpl_var name='gold'--></strong> gold to heal yourself with, and it will cost you <strong>1 gold per HP healed</strong> to heal yourself.</p>
	<tmpl_if name='healed'>
		<p>You have been healed for <strong><!--tmpl_var name='healed'--></strong> HP.</p>		
	</tmpl_if>
	<form action='healer.cgi' method='post'>
		<input type='text' name='amount' id='amount' /><br />
		<input type='submit' name='action' value='Heal Me' />
	</form>
	<p><a href='index.cgi'>Back to main</a></p>
	<script type='text/javascript'>
		document.getElementById('amount').focus();
	</script>
</body>
</html>