<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<p>Hello, <!--tmpl_var name='username'-->!</p>
	<ul>
		<li>Attack: <strong><!--tmpl_var name='attack'--></strong></li>
		<li>Defence: <strong><!--tmpl_var name='defence'--></strong></li>
		<li>Magic: <strong><!--tmpl_var name='magic'--></strong></li>
		<li>Gold in hand: <strong><!--tmpl_var name='gold'--></strong></li>
		<li>Current HP: <strong><!--tmpl_var name='current_hp'-->/<!--tmpl_var name='maximum_hp'--></strong></li>
	</ul>	
	<p><a href='logout.cgi'>Logout</a></p>
	<p><a href='forest.cgi'>The Forest</a></p>
	<p><a href='bank.cgi'>The Bank</a></p>
	<p><a href='healer.cgi'>The Healer</a></p>
	<p><a href='weapon-shop.cgi'>The Weapon Shop</a></p>
	<p><a href='equipment.cgi'>Equipment Management</a></p>
</body>
</html>