<html>
<head>
	<title>The Weapon Shop</title>
</head>
<body>
	<p>Welcome to the Weapon Shop.</p>
	<p><a href='index.cgi'>Back to Main</a></p>
	<h3>Current Equipment:</h3>
	<ul>
		<li>
			Primary Hand:
			<tmpl_if name='phand'>
				<!--tmpl_var name='phand'-->
				<form action='weapon-shop.cgi' method='post'>
					<input type='hidden' name='sell' value='phand' />
					<input type='submit' value='Sell' />
				</form>
			<tmpl_else>
				None
			</tmpl_if>
		</li>
		<li>
			Secondary Hand:
			<tmpl_if name='shand'>
				<!--tmpl_var name='shand'-->
				<form action='weapon-shop.cgi' method='post'>
					<input type='hidden' name='sell' value='shand' />
					<input type='submit' value='Sell' />
				</form>
			<tmpl_else>
				None
			</tmpl_if>
		</li>
	</ul>
	<p>Below are the weapons currently available for purchase.</p>
	<tmpl_if name='error'>
		<p style='color:red'><!--tmpl_var name='error'--></p>
	</tmpl_if>
	<tmpl_if name='message'>
		<p style='color:green'><!--tmpl_var name='message'--></p>
	</tmpl_if>
	<ul>
		<tmpl_loop name='weapons'>
			<li>
				<strong><!--tmpl_var name='name'--></strong> - <em><!--tmpl_var name='price'--> gold coins</em>
				<form action='weapon-shop.cgi' method='post'>
					<input type='hidden' name='weapon-id' value='<!--tmpl_var name="id"-->' />
					<input type='submit' value='Buy' />
				</form>
			</li>
		</tmpl_loop>
	</ul>
</body>
</html>