<h1>The Forest</h1>

<p>You've encountered a <%= @monster.name %>!</p>

<%= link_to "Attack", :controller => "forest", :action => "attack" %>
<%= link_to "Run Away", :controller => "forest", :action => "run_away" %>
